*{
  margin: 0;
  padding: 0;
}
.hero_outer {
 
    background: lightgrey;
     padding: 0 0;
     height: 400px;
     width: 100%;
     display: flex;
     justify-content: center;
     align-items: center;
     background-image: url("../images/developers.jpg");
     border-radius: 15px;
    
     background-size: cover;
    
     background-repeat: no-repeat;
     background-size: 1400px 400px;
     
     
   }
  .main__btn {
    font-size: 1.8rem;
    background: #13131313;
  
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
  
    outline: none;
  }
  .main__btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
  }
  .main__btn:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
   background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  .main__btn:hover {
    color: #fff;
  }
  .main__btn:hover:after {
    width: 100%;
  }
  .hero{
  
   background: #13131313;
   width: 100%;
   
   
    
   }
   .hero__container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 1200px;
     margin: 0 auto;
     height: 200px;
     text-align: center;
     padding: 30px;
    
   
   }
   .hero__heading {
     font: 100px;
     margin-bottom: 24px;
     color: #131313;
   }
   .main__btn {
    padding: 12px 36px;
    margin: 2.5rem 0;
  }
  
.hero__description {
    color: #131313;
    height: 80px;
    width: 400px;

   
  
    
}
.card_images{
    position: absolute;
    top: 80px;
    height: 200px;
    width: 200px;
    border-radius: 7px;
}
  
  
  
.services {
 
  background:  #13131313;
    display: flex;
   
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 10rem 0;
  
  }
  
  
  .services h1 {
    background: #232526;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
  left: 50%;
  bottom: 250px;
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
  }
  .services_title{
    width: 300px ;
    position: absolute;

  }
  
  .services__wrapper {
    position: relative;
    right: 50px;
    
   
   
  
  
  }
  .card-btn{
   position: absolute;
    top: 80%;
    right: 80px;
    border-radius: 15px;
    height: 60px;
    width: 150px;
    background: #13131313;
    color: #fff;
  }
  .services__card {
    margin: 10px;
    height: 425px;
    width: 300px;
    border-radius: 4px;
    display: flex;
   
    justify-content: center;
    color: #fff;
    background: #13131313;
    
 
    transition: 0.3s ease-in;
  }
  
 
  
  .services__card h2 {
    text-align: center;
  }
  .services__card p {
    text-align: center;
    margin-top: 24px;
    font-size: 20px;
  }
 
  
  .services__card button:hover {
    cursor: pointer;
  }
  .services__card :hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
  }
  
  .list_cont{
    height: 80px;
    width: 100%;
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
   
   

  }
  