.hero_outer {
 background: #fff;
     padding: 200px 0;
     height: 200px;
     display: flex;
     justify-content: center;
     align-items: center;
     
    border-radius: 15px;
    background-size: 1400px 400px;
     
     
   }
   .card_images{
    height: 200px;
    border-radius: 7px;
}

  .btn{
     color: #131313;
   }
   .hero_cont{
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 50px;
     padding-bottom: 200px;
   }
   
   .hero__container {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     max-width: 1200px;
     margin: 0 auto;
     height: 200px;
     text-align: center;
     padding: 20px;
     bottom: 20px;
    
   
   }
   .hero__heading {
    
     color: #fff;
   }
  
   .hero__description {
     color: #131313;
 
     
    
   }
   .highlight {
     border-bottom: 4px solid rgb(132, 0, 255);
   }
   .style_button{
       height: 70px;
   }
   .services_first{
       color:#fff;
   }
   .services{
       height: 400px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px;
      margin-top: 20px;
   }
   .services__card{
   position: relative;
   bottom: 200px;

   }
  
   @media screen and (max-width: 768px) {
     .hero__heading {
       font-size: 60px;
     }
     .hero__description {
       font-size: 40px;
     }
   }
   /* about section */
   
  
   
  
   .main__btn {
     font-size: 1.8rem;
      background: #13131313;
     padding: 20px 60px;
     border: none;
     border-radius: 4px;
   
     cursor: pointer;
     position: relative;
     transition: all 0.35s;
     outline: none;
   }
   .main__btn a {
     position: relative;
     z-index: 2;
     color: #fff;
     text-decoration: none;
   }
   .main__btn:after {
     position: absolute;
     content: "";
     top: 0;
     left: 0;
     width: 0;
     height: 100%;
    background: #232526;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
   }
   .main__btn:hover {
     color: #fff;
   }
   .main__btn:hover:after {
     width: 100%;
   }
  
   
   
   
 
   
  
   @media screen and (max-width: 480px) {
   
    
   }
   .services {
 
   background:  #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    
    
   }
   .card_images{
       height: 200px;
       border-radius: 7px;
   }
   
   .services h1 {
  
     background-size: 100%;
  
     -webkit-text-fill-color: transparent;
     -moz-text-fill-color: transparent;
     margin-bottom: 5rem;
     font-size: 2.5rem;
   }
   
  .services__wrapper {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr;
   }
   .services__card {
    
     height: 400px;
     width: 300px;
     border-radius: 4px;
     display: grid;
     flex-direction: column;
     justify-content: center;
     color: #fff;
     
      margin-right: 5px;
   
    
   }
   
  
   .services__card h2 {
     text-align: center;
   }
   .services__card p {
     text-align: center;
     margin-top: 24px;
     font-size: 20px;
   }
   .services__btn {
     display: flex;
     justify-content: center;
     margin-top: 16px;
   }
   .services__card button {
     color: #fff;
     padding: 14px 24px;
     border: none;
     outline: none;
     border-radius: 4px;
   
    
     font-size: 1rem;
   }
   .services__card button:hover {
     cursor: pointer;
   }
   .services__card :hover {
     transform: scale(1.075);
     transition: 0.3s ease-in;
     cursor: pointer;
   }
   @media screen and (max-width: 1300px) {
     .services__wrapper {
       grid-template-columns: 1fr 1fr;
     }
   }
   @media screen and (max-width: 768px) {
     .services__wrapper {
       grid-template-columns: 1fr;
     }
   }